/* Write your code here. */
.list {
  list-style-type: none;
  margin: 5px;
}
.btn {
  border-width: 0px;
  border-radius: 10px;
  background-color: #ffffff30;
  padding: 20px;
  width: 200px;
  height: 200px;
}
