/* Write your code here. */
.LoseContainer {
  display: flex;
  background-color: #ffffff30;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 40%;
  height: 50%;
}
.lcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.score {
  margin: 0px;
  color: #6a59ff;
  font-weight: bold;
}
.loseHeading {
  color: #ffffff;
  font-size: 30px;
}
.loseParagraph {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 500;
}
.LostLogo {
  height: 200px;
}
.LoseArrange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selectBtn {
  outline: none;
  background-color: #ffce27;
  border-width: 0px;
  color: #000000;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
}
